	<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RegressionTest">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
	<test name="Regression" preserve-order="true">
		<!--  packages-->
		 <!--  /packages-->
		<classes> 
				
				
				 				
			
				<class name="regloanscripts.Verify_Employment"> </class>
				<class name="regloanscripts.CustCreate_Rej_Lessthan18Age"> </class>		
				
				
				
				 
				
				
				 
		</classes>
		
	</test>
	
</suite>



