	<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression1">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
	<test name="RegerssionTest" preserve-order="true">
		<!--  packages-->
		 <!--  /packages-->
		<classes> 
				
		<class name="regLoansNewUI.CustomerHomeNavigations"> </class>	
		<class name="regLoansNewUI.NoCreditNavigations"> </class>	
		<class name="regLoansNewUI.AdminNavigationsTest"> </class>	
		
		
				<class name="regloanscripts.Verify_Employment"> </class>
				<class name="regloanscripts.CustCreate_Rej_Lessthan18Age"> </class>		
				
		<class name="regLoansNewUI.CreditFlowExtLendFinMarket"> </class>
		<class name="regLoansNewUI.CreditFlowExtLendLightStream"> </class>
		<class name="regLoansNewUI.CreditFlowExtLend_Absent"> </class>
		<class name="regLoansNewUI.CreditFlowCustTerm_Inac_EmpDeac"> </class>	
				 		
				 		
				 		
		
		</classes>
		
	</test>
</suite>




